{% extends "base.html" %}
{% block title %}Carbon Cruncher - Log Data{% endblock %}

{% block content %}
    
<h1 class="text-center" style="padding-top: 50px; font-size: 50px">Type of log</h1>
<h3 class="text-center" style="padding-top: 20px; font-size: 20px">What type of data are you trying to log?</h3>

<div class="container text-center" style="width:50%;padding-top:50px;">
    <a class="text-center text-decoration-none navicon-light" style="background-color: #8ad87d;width: 40%; border-radius: 25px 25px 25px 25px; margin: 0;  border: 4px; border-style: solid; border-color: #54834c; display: inline-block;"
        href="{{url_for('data_entry.transport')}}"
    >
        <img src="{{url_for('static', filename='transportation.png')}}" width="40%"><br>
        Transport
    </a>
    <a class="text-center text-decoration-none navicon-light" style="background-color: #8ad87d;width: 40%; display: inline-block; border-radius: 25px 25px 25px 25px; margin: 0;  border: 4px; border-style: solid; border-color: #54834c;"
        href="{{url_for('data_entry.appliance')}}"
    >
        <img src="{{url_for('static', filename='washing-machine.png')}}" width="40%"><br>
        Appliance
    </a>
</div>
{% endblock %}