{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1>Type of Form</h1>
    <div class="p-2 row">
        <div class="col-2"></div>
        <div class="col-8">
            <form method="POST">
                <div class="p-2 bg-light border border-primary" style="text-align: left">

                    {{ form.csrf_token() }}
                    <div class="form-group">
                        {{ form.type.label}}<span style="color: red">*</span>
                        {{ form.type(class="form-control") }}
                    </div>
                    <div>
                        {{ form.submit(class="btn btn-success") }}
                    </div>

                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}