{% extends "base.html" %}
{% block title %}Carbon Cruncher - Log Transport{% endblock %}

{% block content %}
    <div class="container">
    <h1 class="text-center" style="padding-top: 50px; font-size: 50px">Transport</h1>
    <h3 class="text-center" style="padding-top: 20px; font-size: 20px">Log your use of any public or private transport<br>including the distance<br>and the use time</h3>
    <div class="p-2 row">
        <div class="col-3"></div>
        <div class="col-6">
            <form method="POST">
                <div class="p-2 bg-light border border-primary">
                    <div style="text-align: left">
                        {{ form.csrf_token() }}
                        <div class="form-group">
                            {{ form.transport.label}}<span style="color: red">*</span>
                            {{ form.transport(class="form-control") }}
                        </div>
<div class="form-group">
    {{ form.start_time.label }}<span style="color: red">*</span>
    {{ form.start_time(class="form-control", type="datetime-local") }}
</div>
<div class="form-group">
    {{ form.end_time.label }}<span style="color: red">*</span>
    {{ form.end_time(class="form-control", type="datetime-local") }}
</div>
<div class="form-group">
    {{ form.distance_unit.label }}<span style="color: red">*</span>
    {{ form.distance_unit(class="form-control") }}
</div>
                        <div class="form-group">
                            {{ form.distance.label}}<span style="color: red">*</span>
                            {{ form.distance(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.is_public.label}}<span style="color: red">*</span>
                            {{ form.is_public(class="form-control") }}
                        </div>
                    </div>
                    <div style="padding-top:20px; width:50%" class="container-fluid">
                        {{ form.submit(class="btn btn-success",style="width:100%;") }}
                    </div>
                </div>
            </form>
        </div>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" onclick=delete_flash(this)>
                    <span>&times;</span>
                </button>
            </div>
            {% endfor %}
            {% endwith %}
        </div>
        <div class="col-3"></div>
    </div>

</div>
{% endblock %}