{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <p>Please complete the following form to login.</p>
    <form method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {{ message }}
                <!--  Need to implement actual working close button-->
                <button type="button" class="btn-close" data-bs-dismiss="alert" onclick=delete_flash(this)>
                    <span>&times;</span>
                </button>
            {% endfor %}
        {% endwith %}
        {% if form %}
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.email.label }}<span style="color: red">*</span>
                {{ form.email(class="form-control") }}
                <span style="color: red">
                            {% for error in form.email.errors %}
                                <br>
                                {{ error }}
                            {% endfor %}
                            </span>
            </div>
            <div class="form-group">
                {{ form.password.label }}<span style="color: red">*</span>
                {{ form.password(class="form-control") }}
                <span style="color: red">
                            {% for error in form.password.errors %}
                                <br>
                                {{ error }}
                            {% endfor %}
                            </span>
            </div>
            <div class="form-group">
                {{ form.mfapin.label }}<span style="color: red">*</span>
                {{ form.mfapin(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.recaptcha }}
            </div>
            <div>
                {{ form.submit(class="btn btn-success") }}
            </div>
        {% endif %}
    </form>
{% endblock %}