{% extends "base.html" %}
{% block title %}Carbon Cruncher - Log In{% endblock %}

{% block content %}
    <h1 class="text-center" style="padding-top: 50px; font-size: 50px">Log In</h1>
    <h3 class="text-center" style="padding-top: 20px; font-size: 20px">Complete the form below to log in to your account</h3>
    <h3 class="text-center" style="padding-top: 20px; font-size: 20px">
        Don't have an account yet?
        <a href="{{url_for('user.register')}}">Register</a>
        instead
    </h3>
    <div class="container align-center" style="width: 50%;">
        <form method="POST">
            <div style="text-align: left">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                {{ message }}
                        <!--  Need to implement actual working close button-->
                        <button type="button" class="btn-close" data-bs-dismiss="alert" onclick=delete_flash(this)>
                            <span>&times;</span>
                        </button>
                    {% endfor %}
                {% endwith %}
                {% if form %}
                    {{ form.csrf_token() }}
                    <div class="form-group">
                        {{ form.email.label }}<span style="color: red">*</span>
                        {{ form.email(class="form-control") }}
                        <span style="color: red">
                                    {% for error in form.email.errors %}
                                        <br>
                                        {{ error }}
                                    {% endfor %}
                                    </span>
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}<span style="color: red">*</span>
                        {{ form.password(class="form-control") }}
                        <span style="color: red">
                                    {% for error in form.password.errors %}
                                        <br>
                                        {{ error }}
                                    {% endfor %}
                                    </span>
                    </div>
                    <div class="form-group">
                        {{ form.mfapin.label }}<span style="color: red">*</span>
                        {{ form.mfapin(class="form-control") }}
                    </div>
                    <div class="container-fluid" style="padding-top: 20px; width:50%;">
                        <div class="form-group">
                            {{ form.recaptcha }}
                        </div>
                        <div style="padding-top: 20px;">
                            {{ form.submit(class="btn btn-success", style="width:100%;") }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
        
    </div>
{% endblock %}