{% extends "base.html" %}

{% block content %}
    <h1>Multi-Factor Authentication Setup</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                {{ message }}
                <!--  Need to implement actual working close button-->
                <button type="button" class="btn-close" data-bs-dismiss="alert" onclick=delete_flash(this)>
                    <span>&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endwith %}
    <p>Open Microsoft Authenticator or Google Authenticator</p>
    <p>Select Add New Account</p>
    <p>Manually Enter or Scan the QR Code Below</p>
    <h2>Code</h2>
    <p>{{ secret }}</p>
    <h2>QR</h2>
    <img src="{{ qrcode(uri, box_size=5, border=5) }}">
    <p>Once you have entered the link please click <a href="./login">here</a></p>
{% endblock %}
