{% extends "base.html" %}

{% block content %}
    <h1>Registration</h1>
    <div>
        <p>Please complete the following form to register an account .</p>
    </div>

    <form method="POST">
        <div style="text-align: left">
            {{ form.hidden_tag() }}
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} mt-3 alert-dismissible" role="alert">
                            {{ message }}. Go to <a href="{{ url_for('user.login') }}">login page</a>.
                            <!--  Need to implement actual working close button-->
                            <button type="button" class="btn-close" data-bs-dismiss="alert" onclick=delete_flash(this)>
                                <span>&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <div class="form-group">
                {{ form.username.label }}<span style="color: red">*</span>
                {{ form.username(class="form-control") }}
                <span style="color: red">
                    {% for error in form.username.errors %}
                        <br>
                        {{ error }}
                    {% endfor %}
                </span>
            </div>
            <div class="form-group">
                {{ form.email.label }}<span style="color: red">*</span>
                {{ form.email(class="form-control") }}
                <span style="color: red">
                            {% for error in form.email.errors %}
                                <br>
                                {{ error }}
                            {% endfor %}
                            </span>
            </div>
            <div class="form-group">
                {{ form.firstname.label }}<span style="color: red">*</span>
                {{ form.firstname(class="form-control") }}
                <span style="color: red">
                            {% for error in form.firstname.errors %}
                                <br>
                                {{ error }}
                            {% endfor %}
                            </span>
            </div>
            <div class="form-group">
                {{ form.lastname.label }}<span style="color: red">*</span>
                {{ form.lastname(class="form-control") }}
                <span style="color: red">
                            {% for error in form.lastname.errors %}
                                <br>
                                {{ error }}
                            {% endfor %}
                            </span>
            </div>
            <div class="form-group">
                {{ form.password.label }}<span style="color: red">*</span>
                {{ form.password(class="form-control") }}
                <span style="color: red">
                            {% for error in form.password.errors %}
                                <br>
                                {{ error }}
                            {% endfor %}
                            </span>
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}<span style="color: red">*</span>
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                    {{ error }}
                {% endfor %}
            </div>
        </div>
        <div>
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
{% endblock %}